@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900&subset=latin,greek-ext,latin-ext);

body {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
  
body * {
  box-sizing: border-box;
  outline: none;
}

a,button{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header{
  text-align:center;
  background-image: url('http://res.cloudinary.com/dtdy6hkgg/image/upload/v1474885998/clouds2_t5anrn.png');
  background-size: cover;
  position: relative;
  @media(max-width: 767px){
    padding-bottom: 100px;
    .row{
      height: auto !important; 
    }
  }
  img{
    max-width: 300px;
    width:100%;
    padding: 30px 0;
  }
  p{
    font-weight: 200;
    color: #464646;
    font-size: 21px;
    line-height: 32px;
    max-width: 600px; 
    margin: 0 auto;
    animation-delay: 1s;
    span{
      color: #888;
     font-weight: 300;
     font-style: italic;
    }
  }
  .fa.fa-angle-down{
    position: absolute;
    bottom:0;
    font-size: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    color: #aaa;
  }
}
.btn-download{
  color: #555;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 20px 10px 72px;
  border-radius: 2px;
  display: block;
  position: relative;
  text-align:left;
  max-width:250px;
  margin: 20px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  i.fa-apple{
    color: #999;
  }
  i.fa-android{
    color: #A4CA39;
  }
  &:hover{
    background-color: #f1f1f1;
  }
  i{ // 42 width
    position: absolute;
    left:20px;
    top: 10px;
    font-size: 54px;
  }
  span{
    display:block;
    font-size: 36px;
  }
}

.section{
  text-align: center;
  position: relative;
  h1{
    font-size: 62px;
    font-weight: 200;
    color: #777;
    margin: 40px 0;
    text-align:center;
  }
  p{
    font-size: 18px;
    line-height: 21px;
    color: #666;
    font-weight: 400;
  }
  &.section-numbers{
    color: #fff;
    border-top: 1px solid #eee;
    @media(max-width: 767px){
      h2{
        margin-top: 30px;
      }
      p{
        margin-bottom: 30px;
      }
    }
    @media(min-width: 768px){
      h2{
        margin-top: 90px;
      }
      p{
        margin-bottom: 90px;
      }
    }
    h2{
      font-size: 36px;
      color: #777;
      font-weight: 200;
      &.middle{
        font-size: 70px;
      }
    }
    p{
      font-size: 14px;
      color: #444;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  &.section-target{
    padding: 60px 0 80px 0;
    background-color: #1E83CD;
    @media(max-width: 767px){
      h1{
        font-size: 32px;
        font-weight: 300;
      }
    }
    h1{
      color: #fff;
    }
    ul{
      max-width: 900px;
      margin: 0 auto;
      li{
        display: inline-block;
        color: #607d8b;
        font-size: 14px;
        background-color:#aaa;
        margin: 10px;
        padding: 20px 40px;
        font-weight: 500;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        text-transform: uppercase;
        background-color: #fff;
      }
    }
  }
  &.section-features{
    padding: 40px 0;
    margin-bottom: 0;
    h1{
      color: #fff;
    }
    h2{
      color: #1E83CD;
      font-size: 36px;
      font-weight: 300;
      margin: 0 0 20px 0;
    }
    p{
      font-size: 21px;
      line-height: 31px;
      color: #666;
      font-weight: 300;
    }
    img{
      width: 100%;
      max-width: 300px;
      margin: 50px auto;
      border-radius: 2px;
      -webkit-box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.15);
    }
    @media(max-width: 767px){
      .detailed{
        display: none;
      }
      .short{
        display: block;
      }
      img{
        margin:0 !important;
      }
      h2{
        font-size: 26px;
        margin-top: 30px;
      }
    }
    @media(min-width: 768px){
      .detailed{
        display: block;
      }
      .short{
        display: none;
      } 
    }  
  }
  &.section-team{
    margin:0;
    padding: 50px 0;
    background-image: url('http://res.cloudinary.com/dtdy6hkgg/image/upload/v1474641975/Gauk-pFdvKkb_w4gfme.png');
    background-size: cover;
    border-top: 2px solid #999;
    background-position: center;
    h2{
      margin: 20px 0;
      color: #666;
      font-size: 21px;
      font-weight: 400;
    }
    p{
      
    }
    img{
      max-width: 150px;
      border-radius: 50%;
      margin:0 auto;
    }
  }
}